<div class="title">Sign Up</div>

<form [formGroup]="signUpForm" class="form" (submit)="onSubmit()">
  <div class="row">
    <mat-form-field class="form-field">
      <input matInput [formControl]="emailControl" type="email" placeholder="EMAIL" class="email"/>
      <mat-error *ngFor="let error of errors.name">
        <span *ngIf="emailControl.hasError(error.name)">{{error.text}}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-field">
      <input matInput [formControl]="passwordControl" type="password" placeholder="PASSWORD"/>
      <mat-error *ngFor="let error of errors.password">
        <span *ngIf="passwordControl.hasError(error.name)">{{error.text}}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-field">
      <input matInput [formControl]="confirmPasswordControl" type="password" placeholder="CONFIRM PASSWORD"/>
      <mat-error *ngFor="let error of errors.confirmPassword">
        <span *ngIf="confirmPasswordControl.hasError(error.name)">{{error.text}}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    [disabled]="!signUpForm.valid"
    type="submit"
    class="submit-btn"
    color="primary">
    Sign Up
  </button>

  <div class="or">or</div>

  <button
    mat-flat-button
    type="submit"
    class="submit-btn submit-btn-google"
    color="primary"
    (click)="googleAuth()">
    <mat-icon>language</mat-icon>
    Sign Up With Google
  </button>
</form>

<div class="link-wrap">
  <a routerLink="/auth/sign-in" class="link">Sign In</a>
</div>
